doctype html
html
  head
    title Change Password
  body
    h1 Change Password
    form(action="/change-password", method="POST")
        label(for="newPassword") New Password
        input(type="Password", id="Password" name="newPassword")
        br

        label(for="confirmNewPassword") Confirm Password
        input(type="Password", id="Password" name="confirmNewPassword")
        br

        button(type="submit") Submit
    
    a(href="/")  Home Page